<div class="col-md-<%= sizes[0]%> col-sm-<%= sizes[1]%> col-xs-<%= sizes[2]%>">
  <div class="x_panel">
    <div class="x_title">
      <h2><%= title %></h2>
      <ul class="nav navbar-right panel_toolbox">        
      </ul>
        <li>
          <a href="" class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
        </li>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <%= body %>
    </div>
  </div>
</div>   
