<% content_for :title do%>
  Edit Product <%= @product.name%>
<% end %>
<% content_for :btn do%>
  <%= render partial: "btns", object: @product, as: :product %>
<% end %>
<div class="row">
  <%= admin_widget_box "Edit product" do %>
    <%= admin_form_for @product, url:  admin_product_path(@product), method: :put do |f|%>
      <%= render partial: "form", object: f, as: :f %>
    <% end %>
  <% end %>
</div>
