<%= content_for :title do%>
  User
<% end%>
<div class="row">
  <%= admin_widget_box 'Users' do %>
    <%= render_admin_data_table(data: @users) do |data| %>
      <thead>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Admin</th>
          <th>is_vip</th>
          <th>create_at</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.admin %></td>
          <td>
            <% if user.vip? %>
              <%= "true (expired_at #{user.vip_expired_at.strftime('%Y-%m-%d')})"%>
            <%else%>
              false
            <%end%>
          </td>
          <td><%= user.created_at %></td>
          <td>
            <% unless user.admin %>
            <%= link_to 'set to admin', admin_user_path(id: user.id, user: { admin: true }), method: :put, class: 'btn btn-danger', "data-confirm": "are you sure to set this user to admin？" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    <% end %>
  <% end %>
</div>
